{% extends 'base.html' %}
{% load static %}
{% block title %}True Brew | Home{% endblock %}

{% block content %}
<div class="main-content">
    <section class="landing-page">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} mb-1" role="alert">
            {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <div class="landing-div">
            <div class="landing-text">
                <p>The no 1 box subscription service for tea lovers all over the world.</p>
                <p>Get premium teas delivered to your door whenever you want.</p>
            </div>
        </div>
    </section>
    <section class="home-sections">
        <div class="container">
            <h1 class="text-center">Our Tea</h1>
            <div class="row">
                {% for product in products %}
                <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
                    <div class="h-100 w-100 mx-auto card-div d-flex flex-column">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img mx-auto" alt="{{ product.category }}">
                        <p>{{ product.short_description }}</p>
                        <hr>
                        <div class="d-flex flex-row">
                            <a href="{% url 'view_product' product.id %}" class="btn custom-btn info-btn mx-auto">Subscribe</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="home-sections">
        <div class="container">
            <h1 class="text-center">About Us</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="info-box">
                        <h5 class="card-title">Box Subscription Service</h5>
                        <p>
                        If you love trying new loose-leaf teas of premium quality, you have come to the right place.
                        Try one of our subscription boxes and discover some truly great teas from China, Sri Lanka, South Africa and many more.
                        </p>
                        <p>
                        We have subscriptions to suit everyone and offer monthly, quarterly and semiannual delivery. All boxes contain 6 pouches of tea and some biscuits to enjoy with your tea. You will also get a booklet with recipes using tea.
                        </p>
                        <p>
                        And we offer FREE worldwide-delivery! <i class="fas fa-truck"></i>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info-box">
                        <h5 class="card-title">About True Brew</h5>
                        <p>
                        True Brew was founded in 2014 by a couple of friends who actually met and bonded over a cup of tea in a cafe in 2010!
                        </p>
                        <p>
                        After getting tired of us complaining about the meagre selection of good tea available in the supermarkets, another friend said: "why don't you just open your own tea store?" and here we are!
                        </p>
                        <p>
                        We love sharing our passion for delicious tea with people all over the world, and we are always happy to hear from customers, so if you have suggestions or just want to say hi, feel free to contact us through the Contact page.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
