{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block title %}Set a new password{% endblock %}

{% block content %}
<div class="main-content login-reg">
	<section class="container-fluid">
		<div class="row">
			<div class="col-md-6 mx-auto form-wrapper">
                <div class="form-div">
                    {% if validlink %}
                    <h1 class="text-center">Set a new password</h1>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form | as_bootstrap }}
                        <div class="d-flex flex-row">
                            <input type="submit" class="btn custom-btn ml-auto" value="Reset"/>
                        </div>
                    </form>
                    {% else %}
                    <h1>Password reset unsuccessful</h1>
                    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                    {% endif %}
                </div>
			</div>
		</div>
	</section>
</div>
{% endblock %}