{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="main-content login-reg">
	<section class="container-fluid">
		<div class="row">
			<div class="col-md-6 mx-auto form-wrapper">
				<h1 class="text-center">Reset Password</h1>
				{% if messages %}
				{% for message in messages %}
				<div class="alert alert-{{message.tags}}" role="alert">
					{{ message }}
				</div>
				{% endfor %}
				{% endif %}
				<div class="form-div">
					<form method="POST">
						<p>Please specify your email address to receive instructions for resetting it.</p>
						{% csrf_token %}
						{{ form | as_bootstrap }}
                        <div class="d-flex flex-row">
						    <input type="submit" class="btn custom-btn ml-auto" value="Reset"/>
                        </div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}