{% extends "base.html" %}
{% load static %}

{% block title %}Email sent!{% endblock %}

{% block content %}
<div class="main-content login-reg">
  <section class="container-fluid">
    <div class="row">
      <div class="col-md-8 mx-auto form-wrapper">
        <h1 class="text-center">Email sent!</h1>
        <div class="form-div">
          <p>We've sent instructions to resetting your password to the email you provided.</p>
          <p>You should be receiving it shortly.</p>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}