{% extends 'base.html' %}
{% load static %}
{% block title %}Our Teas{% endblock %}

{% block content %}
<div class="main-content">
	<div class="container">
		<h1 class="text-center" id="home-teas">Our Teas</h1>
		<div class="row">
			{% for product in products %}
			<div class="col-md-6 col-lg-4 col-xl-3 mb-3">
				<div class="h-100 w-100 mx-auto card-div">
					<h5 class="card-title">{{ product.title }}</h5>
					<img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img" alt="{{ product.category }}">
					<p>{{ product.short_description }}</p>
					<hr>
					<div class="d-flex flex-row">
						<a href="{% url 'view_product' product.id %}"
							class="btn custom-btn info-btn mx-auto">Subscribe</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}