{% extends 'base.html' %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}

<div class="row wrapper">
    <div class="col-md-6 col-xl-3 align-self-center card-div d-flex flex-column">
        <h5 class="card-title">{{ product.title }}</h5>
        <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img" alt="{{ product.category }}">
        <p class="short-description">{{ product.description|linebreaksbr }}</p>
        <hr>
        <a href="#" class="btn custom-btn align-self-center">Subscribe</a>
    </div>
</div>

{% endblock %}