{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="main-content">
    <div class="account container mt-2">
        <h1 class="text-center">Checkout</h1>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">
            {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Order Summary</h2>
                <table class="w-75 mx-auto">
                    <tr>
                        <th>Subscription</th>
                        <th>price per box</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                    {% for item in cart_items %}
                    <tr>
                        <td>{{ item.subscription.frequency }} - {{ item.subscription.product}}</td>
                        <td>{{ item.subscription.unit_price }} / box</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.subscription_total }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <h2 class="text-center">Payment Details</h2>
        <form role="form" method="POST" id="payment-form" action="#">
            {% csrf_token %}
            <legend>Payment Details</legend>
            <div id="credit-card-errors" style="display:none;">
                <div class="alert-message block-message error" id="stripe-error-message"></div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    {% csrf_token %}

                    {{ order_form | as_bootstrap }}
                </div>
        
                <div class="form-group col-md-6">
                    
                </div>
            </div>
            <div class="form-group col-md-12">
                <input type="submit" class="btn btn-primary" id="submit_payment_btn" name="commit" value="Submit Payment">
            </div>
        </form>
    </div>
</div>
{% endblock %}