<footer class="container-fluid">
  <div class="row">
    <!-- Created by -->
    <div class="col-md-4">
      <p class="footer-bold">CREATED BY:</p>
      <p>Sara Larsen</p>
    </div>
    <!-- Disclaimer -->
    <div class="col-md-4">
      <p class="footer-bold">FOR EDUCATIONAL PURPOSES ONLY</p>
      <p>Created as part of the Code Institute Full Stack Developer course</p>
    </div>
    <!-- Links to GitHub and LinkedIn profiles -->
    <div class="col-md-4">
      <p class="footer-bold">FIND ME ON:</p>
      <div class="icons">
        <a href="https://github.com/Sarani1612" target=”_blank”><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/sara-nicole-larsen/"
          target=”_blank”><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>