{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block title %}Edit Account Info{% endblock %}

{% block content %}
<div class="main-content login-reg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 mx-auto form-wrapper">
        <h1 class="text-center">Update Account Info</h1>
        <div class="form-div">
          <!-- Form for user to save or edit their account info -->
          <form method="POST" action="{% url 'edit_account' %}" class="d-flex flex-column">
            {% csrf_token %}
            {{ user_form | as_bootstrap }}
            {{ user_info_form | as_bootstrap }}
            <button type="submit" class="btn custom-btn">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}