{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block title %}Account{% endblock %}

{% block content %}
<div class="main-content login-reg">
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-6 mx-auto form-wrapper">
                <h1 class="text-center">Update Account Info</h1>
                <form method="POST" action="{% url 'edit_account' %}">
                    {% csrf_token %}

                    {{ user_form | as_bootstrap }}
                    {{ user_info_form | as_bootstrap }}
                    
                    <button type="submit" class="btn custom-btn">Submit</button>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}