{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block title %}Create Account{% endblock %}

{% block content %}
<div class="main-content login-reg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mx-auto form-wrapper">
                <h1 class="text-center">Create Account</h1>
                <div class="form-div">
                    {% if user.is_authenticated %}
                    <p>It looks like you already have an account and are signed in.</p>
                    <p>Please use the links in the menu bar to browse the site.</p>
                    {% else %}
                    <p>Register now to make orders and save account details</p>
                    <form method="POST" action="{% url 'registration'%}">
                        {% csrf_token %}
                        
                        {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            Your form has errors. Please try again.
                        </div>
                        {% endif %}

                        {{ form | as_bootstrap }}
                        <div class="d-flex flex-row">
                            <p>Already have an account? <a href="{% url 'login' %}" class="green-links">Log in here.</a></p>
                            <button type="submit" class="btn custom-btn">Register</button>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}