{% extends 'base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}

<div class="main-content">
	<div class="account container mt-2">
		<h1 class="text-center">Cart</h1>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} mb-1" role="alert">
            {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-12">
                <table class="w-100">
                    <tr>
                        <th>Subscription</th>
                        <th>price per box</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                    {% for item in cart_items %}
                    <tr>
                        <td>{{ item.subscription.frequency }} - {{ item.subscription.product}}</td>
                        <td>{{ item.subscription.unit_price }} / box</td>
                        <td>
                            <form class="form-inline" method="POST" action="{% url 'adjust_quantity' item.id %}">
                                {% csrf_token %}
                                <input name="quantity" type="number" min="0" max="999" class="form-control" value="{{ item.quantity }}">
                                <button class="btn custom-btn info-btn" type="submit">Amend</button>
                            </form>
                        </td>
                        <td>{{ item.subscription_total }}</td>
                        <td class="no-border"> <a href="{% url 'delete_subscription' item.id %}"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                    {% endfor %}
                    <tr class="font-weight-bold">
                        <td colspan="3">SUBTOTAL</td>
                        <td><i class="fas fa-euro-sign"></i>{{ subtotal }}</td>
                    </tr>
                    <tr>
                        <td class="no-border" colspan="2">
                            <a href="{% url 'all_products' %}" class="btn custom-btn" role="button">Back to shopping</a>
                        </td>
                        <td class="no-border text-right" colspan="2">
                            <a href="{% url 'checkout' %}" class="btn custom-btn" role="button">Checkout</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p><small><em>The prices shown are what will be debited now and every time a new box is dispatched.</em></small></p>
            </div>
        </div>
	</div>
</div>
{% endblock %}